* {
  box-sizing: border-box;
}

.grid-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: #ebf1f7;
}

.grid-container div {
  text-align: center;
}

.container-top, .container-bottom {
  position: relative;
  display: flex;
}

#score {
  margin: auto;
  background-color: #ebf1f7;
  text-align: center;
}

#start-button, #clear-button, #submit-button, #back-button {
  background-color: #ebf1f7;
  text-align: center;
}

#worddisplay {
  background-color: #ebf1f7;
  border: 1px solid;
}

@media screen and (max-width: 480px) and (orientation: portrait) {
  .grid-container {
    margin: auto;
    width: 90vw;
    height: 144vw;
  }

  .grid-container div {
    height: 9vw;
    width: 9vw;
    font-size: 6vw;
  }

  #worddisplay {
    height: 9vw;
    width: 54vw;
  }

  #start-button, #clear-button, #back-button, #submit-button {
    height: 9vw;
    width: 9vw;
  }

  .container-top, .container-bottom {
    margin:auto;
    width: 90vw;
  }

  #score {
    width: 30vw;
  }

}

@media screen and (orientation: landscape) {
  .grid-container {
    margin: auto;
    width: 50vh;
    height: 80vh;
  }

  .grid-container div {
    height: 5vh;
    width: 5vh;
    font-size: 3vh;
  }

  #worddisplay {
    width: 30vh;
  }

  #start-button, #clear-button, #back-button, #submit-button {
    height: 5vh;
    width: 5vh;
  }

  .container-top, .container-bottom {
    margin: auto;
    width: 50vh;
  }

  #score {
    width: 20vh;
  }
}