* {
  box-sizing: border-box;
}

.grid-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: #5cdb95;
}

.grid-container div {
  text-align: center;
}

.container-top, .container-bottom {
  position: relative;
  display: flex;
}

.container-top {
  justify-content: flex-end;
}

#score {
  background-color: #5cdb95;
  text-align: center;
}

#start-button, #back-button {
  background-color: #41b3a3;
  text-align: center;
  border: outset;
}

#display {
  background-color: #8ee4af;
  border: inset;
  text-align: center;
}

@media screen and (orientation: portrait) {
  .grid-container {
    border-radius: 2vw;
    margin: auto;
    width: 90vw;
    height: 144vw;
  }

  .grid-container div {
    padding-top: 0.5vw;
    border-radius: 2vw;
    height: 9vw;
    width: 9vw;
    font-size: 6vw;
  }

  #display {
    height: 9vw;
    width: 63vw;
    font-size: 6vw;
  }

  #start-button, #back-button {
    height: 9vw;
    width: 13.5vw;
    font-size: 2.5vw;
  }

  #start-button {
    height: 9.25vw;
  }

  #start-button {
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
  }

  #back-button {
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
  }

  .container-top, .container-bottom {
    margin:auto;
    width: 90vw;
  }

  #score {
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    height: 9vw;
    width: 30vw;
    font-size: 6vw;
  }
}

@media screen and (orientation: landscape) {
  .grid-container {
    border-radius: 1vh;
    margin: auto;
    width: 50vh;
    height: 80vh;
  }

  .grid-container div {
    padding-top: 0.5vh;
    border-radius: 1vh;
    height: 5vh;
    width: 5vh;
    font-size: 3vh;
  }

  #display {
    padding-top: 0.5vh;
    width: 35vh;
    height: 5vh;
    font-size: 3vh;
  }

  #start-button, #back-button {
    height: 5vh;
    width: 7.5vh;
    font-size: 1.7vh;
  }

  #start-button {
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
  }

  #back-button {
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
  }

  .container-top, .container-bottom {
    margin: auto;
    width: 50vh;
  }

  #score {
    padding-top: 1vh;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    height: 5vh;
    width: 20vh;
    font-size: 3vh;
  }
}

.grid-container {
  border-top-right-radius: 0px;
}