* {
  box-sizing: border-box;
}

#start-button {
  position:relative;
  margin-left: 25%;
  background-color: #32a899;
}

.grid-container {
  margin-left: 25%;
  display: flex;
  position: relative;
}

.grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: #ebf1f7;
}

.grid div {
  height: 25px;
  width: 25px;
  text-align: center;
}

.container {
  position:relative;
  display: flex;
  margin-left: 25%;
}

#worddisplay {
  background-color: #ebf1f7;
  border: 1px solid;
}

#submit-button {
  background-color: #c9c938;
}

#clear-button {
  background-color: #9c2217;
}